@using System.Web.Mvc.Html
@using iHoaDon.Web.Helper;
@model iHoaDon.Web.RegisterModel
@{
    ViewBag.Title = "Register";
    ViewBag.PageSubTitle = "Đăng ký dịch vụ Hóa đơn điện tử";
    Layout = "~/Views/Shared/_UnAuthenticatedLayout.cshtml";
}
<link href="@Url.Content("~/Content/themes/redmond/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewBag.PageSubTitle</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!--  -->
                <div id="divloading">
                    @using (Html.BeginForm("Register", "Accounts", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        <div>
                            @Html.ValidationSummary(true)
                        </div>
                        <br />
                        <br />
                        <fieldset>
                            <legend class="accordion-heading">
                                <a data-toggle="collapse" href="#collapse-buyer-info">Thông tin tài khoản</a>
                            </legend>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="CompanyCode">Mã số thuế (mã ngân sách) <span class="required">*</span></label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.CompanyCode, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CompanyCode)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="NewPassword">Mật khẩu <span class="required">*</span></label>
                                <div class="col-md-3">
                                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NewPassword)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="ConfirmPassword">Xác nhận mật khẩu <span class="required">*</span></label>
                                <div class="col-md-3">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend class="accordion-heading">
                                <a data-toggle="collapse" href="#collapse-buyer-info">Thông tin đơn vị</a>
                            </legend>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="CompanyName">Tên công ty <span class="required">*</span></label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CompanyName)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="Address">Địa chỉ <span class="required">*</span></label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="ProvinceId">Tỉnh thành <span class="required">*</span></label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.ProvinceId, Model.ListProvince, new { @onchange = "FillData()", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProvinceId)
                                    @Html.TextBoxFor(model => model.Province, new { @style = "display: none" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="TaxAgencyCode">Cơ quan thuế quản lý <span class="required">*</span></label>
                                <div class="col-md-3">
                                    <select id="TaxAgencyCode" name="TaxAgencyCode" onchange="FillText()" class="form-control"></select>
                                    @Html.ValidationMessageFor(model => model.TaxAgencyCode)
                                    @Html.TextBoxFor(model => model.TaxAgencyName, new { @style = "display: none" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="BankAccount">Số tài khoản ngân hàng <span class="required">*</span></label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.BankAccount, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.BankAccount)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="Representative">Người đại diện pháp luật <span class="required">*</span></label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.Representative, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Representative)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="Phone">Số điện thoại <span class="required">*</span></label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Phone)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="Email">Email <span class="required">*</span></label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend class="accordion-heading">
                                <a data-toggle="collapse" href="#collapse-buyer-info">Thông tin chữ ký số</a>
                                <span style="font-size: 12px;">
                                    (bạn cần có USB chứa Chữ ký số, nếu chưa có thì đăng ký <a target="_blank" href="#" title="Đăng ký mua chữ ký số">TẠI ĐÂY</a>)
                                </span>
                            </legend>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="Subject">Chủ sở hữu <span class="required">*</span></label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.Subject)
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary" type="button" onclick="loadToken()"><i class="fa fa-refresh"></i> Lấy thông tin CKS</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="Issuer">Nhà cung cấp <span class="required">*</span></label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.Issuer, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.Issuer)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="Serial">Số serial <span class="required">*</span></label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.Serial, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.Serial)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="ValidFrom">Hiệu lực từ ngày <span class="required">*</span></label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.ValidFrom, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.ValidFrom)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" for="ValidTo">Đến ngày <span class="required">*</span></label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.ValidTo, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.ValidTo)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button id="btnCommit" type="submit" class="btn btn-success">
                                        <i class="fa fa-plus"></i> Đăng ký tài khoản
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
                <!--  -->
            </div>
        </div>
    </div>
</div>

@section ContentScript
{
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker-vi.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/xml2array.js?v=1")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script>
    var disId = '@ViewBag.District';
    $(document).ready(function () {
        var e = document.getElementById("ProvinceId");
        var stateId = e.options[e.selectedIndex].value;
        document.getElementById("Province").value = e.options[e.selectedIndex].text;

        LoadData(stateId, disId);

    });
    function FillData() {
        var stateId = $('#ProvinceId').val();
        var e = document.getElementById("ProvinceId");
        document.getElementById("Province").value = e.options[e.selectedIndex].text;

        LoadData(stateId, disId);
    }
    function FillText() {
        var e = document.getElementById("TaxAgencyCode");
        document.getElementById("TaxAgencyName").value = e.options[e.selectedIndex].text;
    }

    function LoadData(data, id) {

        $.ajax({
            url: '/Accounts/ListProvince',
            type: "GET",
            dataType: "JSON",
            data: { newsId: data },
            success: function (lstItem) {
                $("#TaxAgencyCode").html(""); // clear before appending new list
                $.each(lstItem, function (i, ls) {
                    if (id != '' && id == ls.Value) {
                        $("#TaxAgencyCode").append($('<option selected="selected"></option>').val(ls.Value).html(ls.Text));
                    } else {
                        $("#TaxAgencyCode").append($('<option></option>').val(ls.Value).html(ls.Text));
                    }

                });
            }
        });
    }
    </script>
    <script src="/Content/signature-plugin/base64.js"></script>
    <script src="/Content/signature-plugin/signature-plugin.js"></script>
    <script src="/Content/js/accounts.js"></script>
    <script type="text/javascript">
        {
            var serial = ' '; //serial mặc định
            function loadToken() {
                vnpt_plugin.getCertInfo(registerGetCertCallback);
            }

            function registerGetCertCallback(data) {
                if (data === "" || data === null) {
                    alert("Không lấy được thông tin chứng thư số từ usb token");
                    return;
                }
                var jsOb = JSON.parse(data);

                console.log(jsOb);

                if (jsOb !== "" || jsOb === null) {
                    if (jsOb.hasOwnProperty('code')) {
                        alert(jsOb.error);
                        return;
                    }
                    $('#Subject').val(jsOb.subjectCN);
                    $('#Issuer').val(jsOb.issuerCN);
                    $('#Serial').val(jsOb.serial);
                    $('#ValidFrom').val(jsOb.notBefore);
                    $('#ValidTo').val(jsOb.notAfter);
                    $('#cert-base64').val(jsOb.base64);
                } else {
                    alert("Không thể kiểm tra thông tin chứng thư số");
                }
            }

            function callProcessor() { }
        }
    </script>
}
