@model iHoaDon.Web.Models.ChangePasswordModel
@{
    ViewBag.Title = "iHoaDon - Thay đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<div class="adminheading">
    <div class="fl">
        Thay đổi mật khẩu
    </div>
</div>
<div class="clr">
</div>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<div class="">
    @using (Ajax.BeginForm("ChangePassword", "Account", FormMethod.Post, new AjaxOptions { UpdateTargetId = "mydiv" }, new { area = "Admin", id = "myform", @enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(false)
        <table border="0px" class="adminlist" cellpadding="5px" cellspacing="1px">
            <tr>
                <th colspan="2" align="left">Thông tin mật khẩu
                </th>
            </tr>
            <tr>
                <td width="20%" align="right">
                    <strong>@Html.LabelFor(model => model.OldPassword)</strong>
                </td>
                <td>
                    @Html.TextBoxFor(u => u.OldPassword, new { style = "width:250px !important;", type = "password" })<span style="color: red; padding-left: 7px;">@Html.ValidationMessageFor(model => model.OldPassword)</span>
                </td>
            </tr>
            <tr>
                <td width="20%" align="right">
                    <strong>@Html.LabelFor(model => model.NewPassword)</strong>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.NewPassword, new { style = "width:250px !important;", type = "password" })
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </td>
            </tr>
            <tr>
                <td width="20%" align="right">
                    <strong>@Html.LabelFor(model => model.ConfirmPassword)</strong>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { style = "width:250px !important;", type = "password" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <div class="fr ToolBarBtn">
                        <a href="javascript: submitform()" id="clickSubmit"><span class="icon ico3"></span>Lưu
                                lại</a> <a href="@Url.Action("ChangePassword", "Account", new { area = "Admin" })"><span class="icon ico5"></span>Hủy bỏ</a>
                    </div>
                    <div class="clr">
                    </div>
                </td>
            </tr>
        </table>
        
    }
</div>
@Html.Partial("_ToolBar")