@using iHoaDon.Web
@model IEnumerable<iHoaDon.Entities.Invoice>
@{
    ViewBag.Title = "Partial";
    var sortAndPage = ViewBag.SortAndPage as iHoaDon.Web.Models.SortAndPageModel;
    var search = ViewBag.ModelSearch as SearchListReleaseInvoiceModel;
}
<table id="listReleaseInvoice" class="table table-striped">
    <thead>
        <tr>
            <th>STT</th>
            <th>Người mua hàng</th>
            <th>Mẫu số</th>
            <th>Ký hiệu</th>
            <th>Số hóa đơn</th>
            <th>Ngày hóa đơn</th>
            <th>Trạng thái</th>
            <th>Tổng tiền</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = (sortAndPage.CurrentPageIndex - 1) * sortAndPage.PageSize;
        }
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                //if(item == null || item.CustomerInvoice == null)
                //{
                //    continue;
                //}
            <tr id="row-@index" @(index % 2 == 1 ? "class=even-row" : "")>
                <td align="center">
                    @(index + 1)
                </td>
                <td style="padding-left: 10px;">
                    @item.Account.CompanyName
                </td>
                <td style="padding-left: 10px">
                    @item.TemplateCode
                </td>
                <td style="padding-left: 10px">
                    @item.Serial
                </td>
                <td style="padding-left: 10px">
                    @item.InvoiceNumber
                </td>
                <td style="padding-left: 10px">
                    @item.InvoiceIssuedDate
                </td>
                <td style="padding-left: 10px">
                    @{
                        string st = @item.AdjustmentType+"";
                        
                switch (st)
                {
                    case "1":
                        <span>Hóa đơn gốc</span>
                        break;
                    case "3":
                        <span>Hóa đơn thay thế</span>
                        break;
                    case "5":
                        <span>Hóa đơn điều chỉnh</span>
                        break;
                    case "7":
                        <span>Hóa đơn  xóa bỏ</span>
                        break;
                    case "9":
                        <span>Hóa đơn điều chỉnh chiết khấu</span>
                        break;
                    default:
                        break;
                }
                    }
                  
                </td>
                <td class="total-amount format-currency" style="padding-left: 10px">
                    @item.TotalAmountWithVAT
                </td>
                <td align="center">
                    <table class="table_column">
                        <tr>
                            <td>
                                <button class="btn btn-outline-primary btn-xs" id="view-invoice-btn-@item.Id" onclick="viewInvoice(@item.Id)"><i class="fa fa-eye"></i> Xem</button>
                            </td>
                            @*<td>
                                <a class="btn btn-outline-danger btn-xs" href="#"><i class="fa fa-trash-o"></i> Xóa</a>
                            </td>
                            <td>
                                <a class="btn btn-info btn-xs" href="#"><i class="fa fa-remove"></i> Thay thế</a>
                            </td>
                            <td>
                                <a class="btn btn-success btn-xs" href="#"><i class="fa fa-edit"></i> Điều chỉnh</a>
                            </td>*@
                        </tr>
                    </table>
                </td>
            </tr>
                index++;
            }
        }
        @if (Model == null || Model.Count() == 0)
        {
            <tr>
                <td colspan="9">Không có bản ghi nào!
                </td>
            </tr>
        }
    </tbody>
    @if (Model != null && Model.Count() > 0)
    {
        <tfoot class="pager-content">
            <tr>
                <td colspan="9">
                    @Ajax.Pager(sortAndPage.PageSize,
                                sortAndPage.CurrentPageIndex,
                                sortAndPage.TotalRecordCount,
                                "SortingAndPagingAccounts",
                                new
                                {
                                    sortBy = sortAndPage.SortBy,
                                    sortDesc = sortAndPage.SortDescending
                                },
                                 new AjaxOptions
                                 {
                                     UpdateTargetId = "divGridInvoice",
                                     OnBegin = "OnBegin",
                                     OnSuccess = "OnSuccess",
                                     OnFailure = "OnFailure"
                                 },
                                "pagerButton",
                                "pagerButtonDisabled",
                                "pagerButtonCurrentPage")
                </td>
            </tr>
        </tfoot>
    }
</table>
    <script>
        function viewInvoice(tranId) {
            var win = window.open('/Invoice/ViewXMLbyInvoice/' + tranId, '_blank');
            if (win) {
                //Browser has allowed it to be opened
                win.focus();
            } else {
                //Browser has blocked it
                alert('Please allow popups for this website');
            }
        }
    </script>
