@{
    ViewBag.Title = "_MenuCategory";
}
<div style="padding-bottom: 15px;">
    <span style="padding-right: 15px;">
        <img alt="" src="@Url.Content("~/Content/icons/user.png")" />
        @Html.ActionLink("Thông tin doanh nghiệp", "Index", "Accounts")</span>

    <span style="padding-right: 15px;">
        <img alt="" src="@Url.Content("~/Content/icons/key.png")" />
        @Html.ActionLink("Đổi mật khẩu", "Index", "Accounts")</span>

  <span style="padding-right: 15px;">
        <img alt="" src="@Url.Content("~/Content/icons/script_edit.png")" />
        @Html.ActionLink("Thay đổi chữ ký số", "Index", "Accounts")</span>

   <span style="padding-right: 15px;">
        <img alt="" src="@Url.Content("~/Content/icons/email_open_image.png")" />
        @Html.ActionLink("Đăng ký nhận kết quả", "Index", "Accounts")</span>

</div>

