@{
    ViewBag.Title = "_MenuCategory";
}
<div style="padding-bottom: 15px;">

    <a  href="@Url.Action("Index", "Invoice", new { id = "01GTKT" })" >
        <img alt="" src="@Url.Content("~/Content/icons/package.png")" />
        Hóa đơn GTGT</a>

    <a style="padding-left: 20px;" href="@Url.Action("Index", "InvoiceMarket", new { id = "02GTTT" })" >
        <img alt="" src="@Url.Content("~/Content/icons/cart.png")" />
        Hóa đơn bán hàng</a>

    <a style="padding-left: 20px;" href="@Url.Action("Index", "InvoiceTollTariffs", new { id = "07KPTQ" })" >
        <img alt="" src="@Url.Content("~/Content/icons/car.png")" />
        Hóa đơn bán hàng khu phi thuế quan</a>

    <a style="padding-left: 20px;" href="@Url.Action("Index", "InvoiceTollTariffs", new { id = "07KPTQ" })" >
        <img alt="" src="@Url.Content("~/Content/icons/lorry.png")" />
        Phiếu xuất kho kiêm vận chuyển nội bộ</a>

    <a style="padding-left: 20px;" href="@Url.Action("Index", "InvoiceTollTariffs", new { id = "07KPTQ" })" >
        <img alt="" src="@Url.Content("~/Content/icons/lorry.png")" />
        Hóa đơn hàng bán gửi đại lý</a>


</div>

