@*@model IEnumerable<iHoaDon.Entities.Accounts>
*@<div id="header">
    <div id="header-top">
        <a href="/" id="logo">
            <img src="/Content/Logo.png" border="0" width="417" height="35" />
        </a>
        <div id="solo">
            <div class="hdr_top">
                <div class="fr" style="padding-top: 10px;">
                    @if (Request.IsAuthenticated)
                    {
                        <text><span>Xin chào, </span><strong>
                            @if (User.IsInRole(iHoaDon.Entities.Roles.Admin) || User.IsInRole(iHoaDon.Entities.Roles.AdminAccountManager) || User.IsInRole(iHoaDon.Entities.Roles.AdminTechSupport))
                            {
                                @Html.ActionLink(User.Identity.Name, "Me", "User", new { area = "" }, null)
                            }
                            else
                            {
                                @Html.ActionLink(User.Identity.Name, "Index", "Accounts", new { area = "" })
                            }
                        </strong>[ @Html.ActionLink("Thoát", "LogOffUser", "Accounts", new { area = "" }, null)
                        ]</text>
                    }
                    else
                    {
                        @:[ @Html.ActionLink("Đăng nhập", "LogOnUser", "Accounts") ]
                }

                </div>
            </div>
        </div>
    </div>
    <div id="header-menu">
        <ul id="menu-r">
            <li class="m">
                <a href="@Url.Action("Index", "ListReleaseInvoice")" target="">Phát hành hóa đơn</a>
            </li>
            <li class="line"></li>
            <li class="m">
                <a href="@Url.Action("Index", "Invoice", new { id = "01GTKT" })" target="">Lập hóa đơn</a>
            </li>
            <li class="line"></li>
            <li class="m">
                <a href="@Url.Action("Index", "SearchInvoice")" target="">Tra cứu</a>
            </li>
            <li class="line"></li>
            <li class="m">
                <a href="@Url.Action("Index", "Home")" target="">Báo cáo</a>
            </li>
            <li class="line"></li>
            <li class="m">
                <a href="@Url.Action("Index", "Customer")" target="">Danh mục</a>
            </li>
            <li class="line"></li>
            <li class="m">
                <a href="@Url.Action("Index", "Accounts")" target="">Tài khoản</a>
            </li>
            <li class="line"></li>
            <li class="m">
                <a href="@Url.Action("Index", "Home")" target="">Hệ thống</a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#menu-r li").last().remove();
    });
</script>
