@using iHoaDon.Web
@model IEnumerable<iHoaDon.Entities.Product>
    @{
        ViewBag.Title = "Partial";
        var sortAndPage = ViewBag.SortAndPage as iHoaDon.Web.Models.SortAndPageModel;
        var search = ViewBag.ModelSearch as SearchListReleaseInvoiceModel;
    }

    <div class="row">
        <div class="col-md-12">
            <a href="/Product/Add?id=0" class="btn btn-success"><i class="fa fa-user-plus"></i> Thêm sản phẩm mới</a>
            <br /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <table id="" class="table table-striped projects">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Đơn vị tính</th>
                        <th align="center">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var index = (sortAndPage.CurrentPageIndex - 1) * sortAndPage.PageSize;
                    }
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr id="row-@index" @(index % 2 == 1 ? "class=even-row" : "")>
                                <td align="center">
                                    @(index + 1)
                                </td>
                                <td style="padding-left: 10px;">
                                    @item.ProductCode
                                </td>
                                <td style="padding-left: 10px">
                                    @item.ProductName
                                </td>
                                <td style="padding-left: 10px">
                                    @item.Price
                                </td>
                                <td style="padding-left: 10px">
                                    @item.Unit.Name
                                </td>

                                <td align="center">
                                    <table class="table_column">
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("Add", "Product", new { id = item.Id })" class="btn btn-xs btn-outline-primary">
                                                    <i class="fa fa-pencil-square-o"></i> Chỉnh sửa
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)" class="btn btn-xs btn-danger">
                                                    <i class="fa fa-trash-o"></i> Xóa
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            index++;
                        }
                    }
                    @if (Model == null || Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="6">
                                Không có bản ghi nào!
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (Model != null && Model.Count() > 0)
            {
                <table>
                    <tfoot class="pager-content">
                        <tr>
                            <td colspan="6">
                                @Ajax.Pager(sortAndPage.PageSize,
                                                   sortAndPage.CurrentPageIndex,
                                                   sortAndPage.TotalRecordCount,
                                                   "Index",
                                                   new
                                                   {
                                                       sortBy = sortAndPage.SortBy,
                                                       sortDesc = sortAndPage.SortDescending
                                                   },
                                                    new AjaxOptions
                                                    {
                                                        UpdateTargetId = "divGridProduct",
                                                        OnBegin = "OnBegin",
                                                        OnSuccess = "OnSuccess",
                                                        OnFailure = "OnFailure"
                                                    },
                                                   "pagerButton",
                                                   "pagerButtonDisabled",
                                                   "pagerButtonCurrentPage")
                            </td>
                        </tr>
                    </tfoot>
                </table>
            }
        </div>
    </div>
